name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
      - issue/*
    # - dev/harai

env:
  ACCESS_KEY_ID: AKIAQGFE5ESVAHTVHJGK
  AWS_ACCOUNT_ID: "013230744746"
  S3_BUCKET: gutenberg-ext-imgserver-tests3bucket-t4nafmwadd9f
  PUBLIC_CONTENT_S3_BUCKET: gutenberg-ext-imgserver-tests3publicbucket-1aeju3m5t5nuy
  GO_VERSION: 1.25.3

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-24.04
    container:
      # Stick to older glibc for compatibility.
      # Ref: https://tech.guitarrapc.com/entry/2025/04/02/235900
      image: ubuntu:20.04
    steps:
      # Workaround for error:
      # error obtaining VCS status: exit status 128
      #     Use -buildvcs=false to disable VCS stamping.
      - run: chown root:root .
      - name: Show glibc version
        run: ldd --version
      - name: apt-get
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          apt-get update
          apt-get install -y unzip curl git autoconf build-essential ca-certificates tzdata
      - uses: actions/checkout@main
      - uses: actions/setup-go@main
        with:
          go-version: "~${{env.GO_VERSION}}"
      - run: echo "$ACCESS_KEY_ID" > config/test/access-key-id
      - run: echo "$AWS_ACCOUNT_ID" > config/test/aws-account-id
      - run: echo "$S3_BUCKET" > config/test/s3-bucket
      - run: echo "$PUBLIC_CONTENT_S3_BUCKET" > config/test/public-content-s3-bucket
      - run: echo "$TEST_AWS_SECRET_ACCESS_KEY" > config/test/secret-access-key
        env:
          TEST_AWS_SECRET_ACCESS_KEY: ${{secrets.TEST_AWS_SECRET_ACCESS_KEY}}
      - run: go install github.com/ahmetb/govvv@latest
      - name: Generate build number
        uses: onyxmueller/build-tag-number@main
        with:
          token: ${{secrets.GITHUB_TOKEN}}
          prefix: build_number_generator
      - name: Print new build number
        run: echo "Build number is $BUILD_NUMBER"
      - name: Save the build number
        run: echo "$BUILD_NUMBER" > work/BUILD_NUMBER
      - name: Embed build number into code
        run: echo "build-$BUILD_NUMBER" > ./VERSION
      - run: ~/go/bin/govvv build -o work/imgserver .
      - uses: actions/upload-artifact@main
        with:
          name: artifact
          path: work/imgserver
          if-no-files-found: error
      - uses: actions/upload-artifact@main
        with:
          name: build-number
          path: work/BUILD_NUMBER
          if-no-files-found: error

  test:
    runs-on: ubuntu-24.04
    permissions:
      checks: write
      pull-requests: write
    steps:
      - uses: actions/checkout@main
      - uses: actions/setup-go@main
        with:
          go-version: "~${{env.GO_VERSION}}"
      - run: echo "$ACCESS_KEY_ID" > config/test/access-key-id
      - run: echo "$AWS_ACCOUNT_ID" > config/test/aws-account-id
      - run: echo "$S3_BUCKET" > config/test/s3-bucket
      - run: echo "$PUBLIC_CONTENT_S3_BUCKET" > config/test/public-content-s3-bucket
      - run: echo "$TEST_AWS_SECRET_ACCESS_KEY" > config/test/secret-access-key
        env:
          TEST_AWS_SECRET_ACCESS_KEY: ${{secrets.TEST_AWS_SECRET_ACCESS_KEY}}
      - run: go install github.com/jstemmer/go-junit-report@latest
      - run: go test -v ./... 2>&1 | tee work/test.log
      - run: go-junit-report < work/test.log | tee work/report.xml
      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@master
        if: always()
        with:
          files: work/report.xml

  release:
    needs:
      - build
      - test
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-24.04
    env:
      # Workaround for https://github.com/github/vscode-github-actions/issues/222
      BUILD_NUMBER: ""
    steps:
      - uses: actions/download-artifact@main
        with:
          name: artifact
      - uses: actions/download-artifact@main
        with:
          name: build-number
      - name: set BUILD_NUMBER
        run: echo "BUILD_NUMBER=$(< ./BUILD_NUMBER)" >> $GITHUB_ENV
      - run: mv imgserver imgserver.build-${{env.BUILD_NUMBER}}-linux-amd64
      - id: create_release
        uses: softprops/action-gh-release@master
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          tag_name: build-${{env.BUILD_NUMBER}}
          name: Build ${{env.BUILD_NUMBER}}
          draft: false
          prerelease: false
          files: |
            imgserver.*
